<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <a href="/logout">Logout</a>    
    <a href="/add_question">Add Question</a>    
    <a href="/view_question">View Question</a>
    <a href="/view_user">View User</a>
    <a href="/view_result">View Result</a>
    <a href="/view_test">View Test</a>
    <a href="/view_test_result">View Test Result</a>
    <a href="/view_test_question">View Test Question</a>
</body>
</html>
