<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel = "stylesheet" href = "../static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="main-heading">Welcome to Quiz-Master</h1>

        <div class="content-section">
            <h2 class="section-heading">Where Exam Preparations held</h2>
            <p>Whenever exams come , feel stressed , Join this website and solve tests and be confident</p>
        </div>

        <div class = "center" > <a href="/login" type = "button" class="login-button">Login Now</a></div>

    </div>
</body>
</html>
